<app-header></app-header>
<!-- Slider 1 -->
<div id="slider1" class="slider h-screen mt-[-50px] relative">
  <!-- list Items -->
  <div class="list relative h-full">
    <div
      *ngFor="let thumbnail of thumbnails; let i = index"
      [ngClass]="{ active: i === itemActive }"
      class="item absolute inset-0 overflow-hidden opacity-0 transition-opacity duration-500 z-10"
    >
      <img [src]="thumbnail.imagenUrl" class="w-full h-full object-cover" />
      <div class="content absolute left-[10%] top-[20%] z-[1]">
        <p class="uppercase tracking-widest category-text">
          {{ thumbnail.categoria }}
        </p>
        <h2 class="title-text m-0">{{ thumbnail.titulo }}</h2>
        <p class="description-text">{{ thumbnail.descripcion }}</p>
      </div>
    </div>
  </div>

  <!-- button arrows -->
  <div
    class="arrows absolute inset-y-0 left-0 right-0 flex justify-between items-center"
  >
    <button id="prev" class="btn btn-primary"></button>
    <button id="next" class="btn btn-primary"></button>
  </div>
  <!-- thumbnail -->
  <div class="thumbnail d-flex justify-content-center col-lg-10">
    <div
      *ngFor="let thumbnail of thumbnails; let i = index"
      [ngClass]="{ active: i === itemActive }"
      class="item"
      (click)="itemActive = i; showSlider()"
    >
      <img
        [src]="thumbnail.imagenUrl"
        class="w-full h-full object-cover rounded-lg"
      />
      <div class="content">
        <p>{{ thumbnail.titulo }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Slider 2 (Trending) -->
<div class="new-row mt-8">
  <div class="new-header">
    <h3 class="new-title pl-2">Trending</h3>
    <div class="new-progress-bar"></div>
  </div>
  <div class="new-container flex justify-center overflow-hidden mt-6">
    <button class="new-handle new-left-handle">
      <div class="new-text">&#8249;</div>
    </button>
    <div
      class="new-slider flex gap-4 transition-transform duration-300 ease-in-out"
    >
      <div
        *ngFor="let movie of trendingMovies"
        class="new-slide relative overflow-hidden rounded-lg"
        [attr.data-movie-id]="movie.id"
        [attr.data-media-type]="movie.media_type"
      >
        <img
          [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
          class="w-full h-full object-cover transition-transform duration-300 ease-in-out"
        />
        <div
          class="hover-content absolute inset-0 bg-black bg-opacity-70 flex flex-col items-center justify-center opacity-0 transition-opacity duration-300 ease-in-out"
        >
          <h3 class="text-xl text-white mb-4">
            {{ movie.title || movie.name }}
          </h3>
          <div class="flex space-x-4">
            <button
              class="icon-button play-button"
              [attr.data-movie-id]="movie.id"
              [attr.data-media-type]="movie.media_type"
            >
              <i class="fas fa-play"></i>
            </button>
            <button class="icon-button fav-button">
              <i class="fas fa-heart"></i>
            </button>
            <button
              class="icon-button info-button flex items-center"
              [attr.data-movie-id]="movie.id"
              [attr.data-media-type]="movie.media_type"
            >
              <i class="fas fa-info-circle"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <button class="new-handle new-right-handle">
      <div class="new-text">&#8250;</div>
    </button>
  </div>
</div>

<!-- Slider for Popular Movies -->
<div class="new-row mt-8">
  <div class="new-header">
    <h3 class="new-title pl-2">Popular Movies</h3>
    <div class="new-progress-bar"></div>
  </div>
  <div class="new-container flex justify-center overflow-hidden mt-6">
    <button class="new-handle new-left-handle">
      <div class="new-text">&#8249;</div>
    </button>
    <div
      class="new-slider flex gap-4 transition-transform duration-300 ease-in-out"
    >
      <div
        *ngFor="let movie of popularMovies"
        class="new-slide relative overflow-hidden rounded-lg"
        [attr.data-movie-id]="movie.id"
        [attr.data-media-type]="movie.media_type"
      >
        <img
          [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
          class="w-full h-full object-cover transition-transform duration-300 ease-in-out"
        />
        <div
          class="hover-content absolute inset-0 bg-black bg-opacity-70 flex flex-col items-center justify-center opacity-0 transition-opacity duration-300 ease-in-out"
        >
          <h3 class="text-xl text-white mb-4">
            {{ movie.title || movie.name }}
          </h3>
          <div class="flex space-x-4">
            <button
              class="icon-button play-button"
              [attr.data-movie-id]="movie.id"
              [attr.data-media-type]="movie.media_type"
            >
              <i class="fas fa-play"></i>
            </button>
            <button class="icon-button fav-button">
              <i class="fas fa-heart"></i>
            </button>
            <button
              class="icon-button info-button flex items-center"
              [attr.data-movie-id]="movie.id"
              [attr.data-media-type]="movie.media_type"
            >
              <i class="fas fa-info-circle"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <button class="new-handle new-right-handle">
      <div class="new-text">&#8250;</div>
    </button>
  </div>
</div>
<!-- Sección Popular Series -->
<div class="new-row mt-8">
  <div class="new-header">
    <h3 class="new-title pl-2">Popular Series</h3>
    <div class="new-progress-bar"></div>
  </div>
  <div class="new-container flex justify-center overflow-hidden mt-6">
    <button class="new-handle new-left-handle">
      <div class="new-text">&#8249;</div>
    </button>
    <div
      class="new-slider flex gap-4 transition-transform duration-300 ease-in-out"
    >
      <div
        *ngFor="let series of popularSeries"
        class="new-slide relative overflow-hidden rounded-lg"
        [attr.data-movie-id]="series.id"
        [attr.data-media-type]="series.media_type"
      >
        <img
          [src]="'https://image.tmdb.org/t/p/w500' + series.poster_path"
          class="w-full h-full object-cover transition-transform duration-300 ease-in-out"
        />
        <div
          class="hover-content absolute inset-0 bg-black bg-opacity-70 flex flex-col items-center justify-center opacity-0 transition-opacity duration-300 ease-in-out"
        >
          <h3 class="text-xl text-white mb-4">
            {{ series.title || series.name }}
          </h3>
          <div class="flex space-x-4">
            <button
              class="icon-button play-button"
              [attr.data-movie-id]="series.id"
              [attr.data-media-type]="series.media_type"
            >
              <i class="fas fa-play"></i>
            </button>
            <button class="icon-button fav-button">
              <i class="fas fa-heart"></i>
            </button>
            <button
              class="icon-button info-button flex items-center"
              [attr.data-movie-id]="series.id"
              [attr.data-media-type]="series.media_type"
            >
              <i class="fas fa-info-circle"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <button class="new-handle new-right-handle">
      <div class="new-text">&#8250;</div>
    </button>
  </div>
</div>
<!-- Slider for Animated Series -->
<div class="new-row mt-8">
  <div class="new-header">
    <h3 class="new-title pl-2">Animated Series</h3>
    <div class="new-progress-bar"></div>
  </div>
  <div class="new-container flex justify-center overflow-hidden mt-6">
    <button class="new-handle new-left-handle">
      <div class="new-text">&#8249;</div>
    </button>
    <div
      class="new-slider flex gap-4 transition-transform duration-300 ease-in-out"
    >
      <div
        *ngFor="let anime of animeSeries"
        class="new-slide relative overflow-hidden rounded-lg"
        [attr.data-movie-id]="anime.id"
        [attr.data-media-type]="anime.media_type"
      >
        <img
          [src]="'https://image.tmdb.org/t/p/w500' + anime.poster_path"
          class="w-full h-full object-cover transition-transform duration-300 ease-in-out"
        />
        <div
          class="hover-content absolute inset-0 bg-black bg-opacity-70 flex flex-col items-center justify-center opacity-0 transition-opacity duration-300 ease-in-out"
        >
          <h3 class="text-xl text-white mb-4">
            {{ anime.title || anime.name }}
          </h3>
          <div class="flex space-x-4">
            <button
              class="icon-button play-button"
              [attr.data-movie-id]="anime.id"
              [attr.data-media-type]="anime.media_type"
            >
              <i class="fas fa-play"></i>
            </button>
            <button class="icon-button fav-button">
              <i class="fas fa-heart"></i>
            </button>
            <button
              class="icon-button info-button flex items-center"
              [attr.data-movie-id]="anime.id"
              [attr.data-media-type]="anime.media_type"
            >
              <i class="fas fa-info-circle"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <button class="new-handle new-right-handle">
      <div class="new-text">&#8250;</div>
    </button>
  </div>
</div>
