<app-header></app-header>
<main
  class="flex items-center justify-center h-screen bg-cover bg-center relative"
  [style.background-image]="
    'url(https://image.tmdb.org/t/p/original' + data.backdrop_path + ')'
  "
>
  <div class="absolute inset-0 bg-black opacity-50"></div>
  <div class="relative z-10 text-center text-white p-16">
    <h1 class="text-6xl font-bold mb-8">{{ data.title || data.name }}</h1>
    <p class="text-2xl mb-6">
      {{ data.release_date || data.first_air_date }} ({{
        data.origin_country.join(", ")
      }})
      {{ getGenres(data.genres) }}
      {{ data.runtime || data.episode_run_time[0] }} mins
    </p>
    <p class="text-xl mb-8 leading-relaxed">{{ data.overview }}</p>
    <div class="flex space-x-6 justify-center">
      <button
        class="icon-button play-button bg-gray-700 text-white px-6 py-3 rounded hover:bg-gray-900"
        (click)="handlePlayButtonClick(data.id, data.media_type)"
      >
        <i class="fas fa-play"></i>
      </button>
      <button
        class="icon-button fav-button bg-red-700 text-white px-6 py-3 rounded hover:bg-gray-900"
        (click)="
          handleFavoriteButtonClick(
            data.title || data.name,
            data.poster_path,
            data.id,
            data.media_type
          )
        "
      >
        Add to favorites
      </button>
    </div>
  </div>
</main>
